ion-card {
    background-color: #ffa9d5;
    min-height: 7rem;
    justify-content: center; 
    align-items: center; 
    display: flex; 
    margin: 0;
}

ion-img {
    width: 80px;
    height: 80px;
}