<ion-header>
  <ion-toolbar>
    <ion-title>
      POMOLOFT - PANEL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2" *ngFor='let command of commands' style="cursor: pointer;">
        <ion-card (click)="sendMessage(command.command)">
          <ion-img src="{{command.src}}"></ion-img>
        </ion-card>
        <div style="width: 100%; justify-content: center; align-items: center; display: flex; ">
          <ion-text>{{command.command}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
